{% extends "layout.html" %}
{% block content %}
    <!-- d-flex is new version of "media class" -->
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img class="rounded-circle account-img" src="{{url_for('static', filename='pictures/' + book.image_file)}}" >
        </div>
        <div class="flex-grow-1 ms-3">
            
            <h2><a class="article-title" href= "{{url_for('bp_books.book', book_id=book.id) }}"> {{ book.title }} </a> </h2>
            <p class="article-content"> author: {{book.author}}  
            description: {{book.description}}                 
            </p>               
        </div>
    </div>
    <br>
    <br>
    type: {{book.type}} <br>
    category: {{book.category}} <br>
    price: €{{book.price}} <br>
    <!-- toevoegen: talen --> 
    
{% endblock content %}