{% extends "layout.html" %}
{% block content %}




    <!-- d-flex is new version of "media class" -->
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img class="rounded-circle account-img" src="{{url_for('static', filename='pictures/' + book.image_file)}}" >
        </div>
        <div class="flex-grow-1 ms-3">
            
            <h2><a class="article-title" href= "{{url_for('bp_books.book', book_id=book.id) }}"> {{ book.title }} </a> </h2>
            <p class="article-content"> author: {{book.author}}  
            description: {{book.description}}                 
            </p>               
        </div>
        <div>
            <! --  if user is admin: show "update book" and "delete book"--> 
            {% if current_user.type == 2 %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('bp_books.update_book', book_id=book.id) }}">Update Book</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Book</button>
           {% endif%}
           <! --  check if book isn't already in the user wishlist--> 
           {% if book in current_user.wishlist %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('bp_users.delete_wishlist', book_id=book.id) }}">Remove from wishlist</a>
           {% else %} 
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('bp_users.add_wishlist', book_id=book.id) }}">Add to wishlist</a>
           {%endif %}
           <! --  if already in wishlist: remove from wishlist--> 
            
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('bp_users.purchase', book_id=book.id) }}">Purchase this book</a>
        </div>
    </div>
    <br>
    <br>
    type: {{book.type}} <br>
    category: {{book.category}} <br>
    price: €{{book.price}} <br>
    <!-- toevoegen: talen --> 

    
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Book?</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('bp_books.delete_book', book_id=book.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>

    

{% endblock content %}

