{% extends "layout.html" %}

{% block content %}
    <!-- test is there are books being passed (test that lengths != 0 and books is not None)-->
    {% if books and books|length > 0 %}
        {% for book in books %}            
            <h1>{{book.title}}</h1> 
            <p>{{book.author}}</p> 
            <p>{{book.description}}</p>
            
        {% endfor %}
    {%else%}
        <h1>No books in database! contact system administrator</h1> 
    {% endif%}


{% endblock content %}




<div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-lg-5">
        <h6 class="text-muted">List Group with Images</h6> 
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Don Quixote 
            <div class="image-parent">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            As I Lay Dying 
            <div class="image-parent">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">  
            Things Fall Apart
            <div class="image-parent">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
          </li>
        </ul>
      </div>
    </div>
  </div>
