<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='test.css')}}">
    </head>
    <body>  
        -<div class="container">
            <ul class="list-group">
              <li class="list-group-item clearfix">
                <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt=""/>
                <h3 class="list-group-item-heading">
                  Amazing Item
                  <span class="label label-danger pull-right">NEW !</span>
                </h3>
                <p class="list-group-item-text lead">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.
                  <br />
                  <a href="#"><small>Details&#8230;</small></a>
                </p>
                <div class="btn-toolbar float-end" role="toolbar" aria-label="">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-list"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Add to new list</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">A list</a></li>
                      <li><a href="#">Another list</a></li>
                  <li><a href="#">Third list</a></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-default">Add to cart</a>
                  <a href="#" class="btn btn-primary">$29.99</a>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt=""/>
                <h3 class="list-group-item-heading">
                  Current thing
                </h3>
                <p class="list-group-item-text lead">
                  Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
                  <br />
                  <a href="#"><small>Details&#8230;</small></a>
                </p>
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-list"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Add to new list</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">A list</a></li>
                      <li><a href="#">Another list</a></li>
                      <li><a href="#">Third list</a></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-default">Add to cart</a>
                  <a href="#" class="btn btn-info">$9.95</a>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt=""/>
                <h3 class="list-group-item-heading">
                  Something great
                </h3>
                <p class="list-group-item-text lead">
                  Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
                  <br />
                  <a href="#"><small>Details&#8230;</small></a>
                </p>
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-list"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Add to new list</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">A list</a></li>
                      <li><a href="#">Another list</a></li>
                      <li><a href="#">Third list</a></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-default">Add to cart</a>
                  <a href="#" class="btn btn-primary">$42.50</a>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt=""/>
                <h3 class="list-group-item-heading">
                  Another thing
                  <span class="label label-default pull-right">SOLD OUT</span>
                </h3>
                <p class="list-group-item-text lead">
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  <br />
                  <a href="#"><small>Details&#8230;</small></a>
                </p>
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                  <div class="btn-group">
                    <button type="button" class="btn disabled btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-list"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Add to new list</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">A list</a></li>
                      <li><a href="#">Another list</a></li>
                      <li><a href="#">Third list</a></li>
                    </ul>
                  </div>
                  <a href="#" class="btn disabled btn-default">Add to cart</a>
                  <a href="#" class="btn disabled btn-primary">$1.99</a>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt=""/>
                <h3 class="list-group-item-heading">
                  Yet another item
                </h3>
                <p class="list-group-item-text lead">
                  Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
                  <br />
                  <a href="#"><small>Details&#8230;</small></a>
                </p>
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-list"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Add to new list</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">A list</a></li>
                      <li><a href="#">Another list</a></li>
                      <li><a href="#">Third list</a></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-default">Add to cart</a>
                  <a href="#" class="btn btn-primary">$16.00</a>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt=""/>
                <h3 class="list-group-item-heading">
                  Something else
                </h3>
                <p class="list-group-item-text lead">
                  Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
                  <br />
                  <a href="#"><small>Details&#8230;</small></a>
                </p>
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-list"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Add to new list</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">A list</a></li>
                      <li><a href="#">Another list</a></li>
                      <li><a href="#">Third list</a></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-default">Add to cart</a>
                  <a href="#" class="btn btn-primary">$12.99</a>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt=""/>
                <h3 class="list-group-item-heading">
                  Last thing here
                </h3>
                <p class="list-group-item-text lead">
                  Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.
                  <br />
                  <a href="#"><small>Details&#8230;</small></a>
                </p>
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-list"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Add to new list</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">A list</a></li>
                      <li><a href="#">Another list</a></li>
                      <li><a href="#">Third list</a></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-default">Add to cart</a>
                  <a href="#" class="btn btn-success">Free!</a>
                </div>
              </li>
            </ul>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script> 

              
    </body>
</html>

